# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.htm
*.user
*.ncb
UIpro.suo
*.old
UIpro/Release/vc80.idb
*.pdb
UIpro/UIpro.aps
*.XML
*.obj
UIpro/Release/mt.dep
*.manifest
UIpro/Release/vc90.idb
*.res
UIpro/Release/UIpro.pch
Release/UIpro.exe
*.rc
*.bmp
*.png
*.vcproj
*.vcproj
*.rc
*.rc
*.rc
*.vcproj
*.sln
*.ico
*.rc2
*.ini
